<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qpyy.module.me">

    <application>
        <activity
            android:name=".activity.MyFriendsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.PersonalSignatureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.SearchFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.VisitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.CreatedRoomActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.EditInformationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.UserDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.MNImageBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.MNVedioBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.MyInviteCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".activity.JoinGuildActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"></activity>


    </application>


</manifest>